/* _VARS_ */
$hl = #9c27b0
$hl_b = #ce93d8


/* Global classes */
.app-container
  max-width 1440px !important
  margin-bottom 60px

.cur
  cursor pointer

.tit
  color $hl_b

.tit-dark
  color: $hl

.icon-align
  margin-top 8px

.btn-icons
  max-width 30px
  height auto

.list_view-top
  display:flex
  flex-direction: column
  margin-left: 18px

.list_view-bot
  align-items: flex-end !important

/* _Transition_ */
.fade-enter
  opacity 0

.fade-enter-active
  transition opacity 3s

.fade-leave
  opacity 1

.fade-leave-active
  transition-duration 0s
  transition-delay 0s
